{% extends 'layout.html' %}

{% block body %}
  <center>
      <h1><small>Welcome {{session.username}}!</small></h1>
      <h3>Your current buying power is...</h3>
      <h3><font color="green">${{money}}</font></h3>
  </center>

<table class="table">
  <thead>
    <tr>
      <th>Owned Stock</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for stock in portfolio %}
      <tr>
        <td>{{stock}}</td>
        <td>{{portfolio[stock]}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
